// extracted by mini-css-extract-plugin
// module.exports = {"crewChief":"crewChief","driverName":"driverName","meta":"meta","inner":"inner","waveForm":"waveForm"};

.crewChief {
  position: absolute;
  top: 300px;
  left: 1690px;
  transform: translate(-50%, -50%);
}
.crewChief * {
  text-align: top;
}
.crewChief .driverName,
.crewChief .meta {
  padding: 5px 15px;
  margin: 1px;
  position: relative;
}
.crewChief .driverName:after,
.crewChief .meta:after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  transform: skew(-20deg, 0);
  z-index: -1;
}
.crewChief .driverName .inner {
  text-transform: uppercase;
  width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.crewChief .meta .waveForm {
  position: relative;
  top: 2px;
  margin-left: 10px;
  height: 14px;
}