// extracted by mini-css-extract-plugin
// module.exports = {"overtakingAidsContainer":"overtakingAidsContainer","drsLabelBox":"drsLabelBox","drsLabelBoxText":"drsLabelBoxText","showP2P":"showP2P","drsAmountBox":"drsAmountBox","drsAmountTextBox":"drsAmountTextBox","drsAmountText":"drsAmountText","isInfinite":"isInfinite","p2pLabelBox":"p2pLabelBox","p2pLabelBoxText":"p2pLabelBoxText","showDRS":"showDRS","p2pAmountBox":"p2pAmountBox","p2pTimeBar":"p2pTimeBar","p2pAmountTextBox":"p2pAmountTextBox","p2pAmountText":"p2pAmountText"};

.overtakingAidsContainer {
  width: 250px;
  height: 80px;
  position: fixed;
  left: 0;
  top: 0;
  transform: translateY(302px) scale3d(2.88, 2.88, 1);
  transform-origin: 0 0;
  overflow: hidden;
  background-color: hsla(0, 0%, 100%, 0);
  background-size: 250px 80px;
}
.overtakingAidsContainer .drsLabelBox {
  display: block;
  border-radius: 20px 0 0;
  border: 0 solid hsla(0, 0%, 100%, 0.8);
  width: 100px;
  height: 40px;
  left: 0;
  top: 40px;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
}
.overtakingAidsContainer .drsLabelBox .drsLabelBoxText {
  width: 100px;
  height: 40px;
  white-space: pre;
  font-family: Segoe UI;
  font-weight: 700;
  color: #fff;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.8), 0 0 10px rgba(0, 0, 0, 0.8);
  font-style: normal;
  font-size: 32px;
  justify-content: flex-end;
  text-align: center;
  align-items: center;
  vertical-align: middle;
  margin: 2px 3px -1px;
}
.overtakingAidsContainer .drsLabelBox.showP2P {
  border-width: 0 0 1px;
  top: 0;
}
.overtakingAidsContainer .drsAmountBox {
  display: block;
  width: 150px;
  height: 40px;
  left: 100px;
  top: 40px;
  background: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  border: 0 solid hsla(0, 0%, 100%, 0.8);
}
.overtakingAidsContainer .drsAmountBox.showP2P {
  border-width: 0 0 1px;
  top: 0;
}
.overtakingAidsContainer .drsAmountTextBox {
  display: block;
  width: 150px;
  height: 40px;
  left: 100px;
  top: 40px;
  background: hsla(0, 0%, 100%, 0);
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
}
.overtakingAidsContainer .drsAmountTextBox .drsAmountText {
  width: 150px;
  height: 40px;
  white-space: pre;
  font-family: Segoe UI;
  font-weight: 700;
  color: #fff;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.8), 0 0 10px rgba(0, 0, 0, 0.8);
  font-style: normal;
  font-size: 32px;
  justify-content: center;
  text-align: center;
  align-items: center;
  vertical-align: middle;
  margin: 2px 3px -1px;
}
.overtakingAidsContainer .drsAmountTextBox .drsAmountText.isInfinite {
  font-size: 48px;
  margin: -10px 0 0;
}
.overtakingAidsContainer .drsAmountTextBox.showP2P {
  top: 0;
}
.overtakingAidsContainer .p2pLabelBox {
  display: block;
  border-radius: 20px 0 0;
  border: 0 solid hsla(0, 0%, 100%, 0.8);
  width: 100px;
  height: 40px;
  left: 0;
  top: 40px;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
}
.overtakingAidsContainer .p2pLabelBox .p2pLabelBoxText {
  width: 100px;
  height: 40px;
  white-space: pre;
  font-family: Segoe UI;
  font-weight: 700;
  color: #fff;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.8), 0 0 10px rgba(0, 0, 0, 0.8);
  font-style: normal;
  font-size: 32px;
  justify-content: flex-end;
  text-align: center;
  align-items: center;
  vertical-align: middle;
  margin: 2px 3px -1px;
}
.overtakingAidsContainer .p2pLabelBox.showDRS {
  border-radius: 0 0 0;
  border-width: 1px 0 0;
}
.overtakingAidsContainer .p2pAmountBox {
  width: 150px;
  left: 100px;
  top: 40px;
  border: 0 solid hsla(0, 0%, 100%, 0.8);
}
.overtakingAidsContainer .p2pAmountBox,
.overtakingAidsContainer .p2pAmountBox .p2pTimeBar {
  display: block;
  height: 40px;
  background: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
}
.overtakingAidsContainer .p2pAmountBox .p2pTimeBar {
  width: 0;
  left: 0;
  top: 0;
}
.overtakingAidsContainer .p2pAmountBox .p2pTimeBar.showDRS {
  height: 39px;
}
.overtakingAidsContainer .p2pAmountBox.showDRS {
  border-radius: 0 0 0;
  border-width: 1px 0 0;
}
.overtakingAidsContainer .p2pAmountBox.showDRS .p2pTimeBar {
  height: 40px;
}
.overtakingAidsContainer .p2pAmountTextBox {
  display: block;
  width: 150px;
  height: 40px;
  left: 100px;
  top: 40px;
  background: hsla(0, 0%, 100%, 0);
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
}
.overtakingAidsContainer .p2pAmountTextBox .p2pAmountText {
  width: 150px;
  height: 40px;
  white-space: pre;
  font-family: Segoe UI;
  font-weight: 700;
  color: #fff;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.8), 0 0 10px rgba(0, 0, 0, 0.8);
  font-style: normal;
  font-size: 32px;
  justify-content: center;
  text-align: center;
  align-items: center;
  vertical-align: middle;
  margin: 2px 3px -1px;
}