// extracted by mini-css-extract-plugin
// module.exports = {"info":"info","warning":"warning","svgIcon":"svgIcon"};

.info {
  position: absolute;
  left: 20px;
  top: 405px;
  font-family: 'Roboto';
  white-space: pre;
  font-size: 14px;
}

.info .value {
  font-weight: 700;
}

.info .warning {
  position: relative;
  margin-left: 22px;

  /* UM ÚNICO BACKGROUND */
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.6) 0px,     /* faixa esquerda (clara) */
    rgba(0, 0, 0, 0.6) 25px,
    rgba(0, 0, 0, 0.9)  25px,   /* área direita (escura) */
    rgba(0, 0, 0, 0.9)  100%
  );

  padding: 7px 11px 5px 31px;
  margin-bottom: 2px;
}

.info .warning .icon {
  position: absolute;
  left: 4px;
  top: 0px;
  z-index: 1;
}

.info .warning .icon svg {
  width: 17px;
  height: 25px;
  fill: rgb(255, 238, 0);
}