// extracted by mini-css-extract-plugin
// module.exports = {"inputs":"inputs","low":"low","barContainer":"barContainer","bar":"bar","clutchPedal":"clutchPedal","brakePedal":"brakePedal","throttlePedal":"throttlePedal","clutchTextContainer":"clutchTextContainer","brakeTextContainer":"brakeTextContainer","throttleTextContainer":"throttleTextContainer","showNumbers":"showNumbers","hasWheel":"hasWheel","steeringWheel":"steeringWheel"};

.inputs {
  background: red;
  padding: 2px;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.2);
  height: 100px;
  position: absolute;
  top: 940px;
  left: 1690px;
  margin-right: 70px;
  border-radius: 2px;
  width: 46px;
}
.inputs.low {
  background: rgba(255, 0, 0, 0.7);
}
.inputs .barContainer {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  top: 0;
  margin: 0 1px;
  width: 12px;
  display: inline-block;
  position: relative;
  border-radius: 2px;
  border: 1px solid hsla(0, 0%, 100%, 0.15);
}
.inputs .barContainer .bar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.6);
}
.inputs .barContainer .clutchPedal {
  background: #aaa;
}
.inputs .barContainer .brakePedal {
  background: red;
}
.inputs .barContainer .throttlePedal {
  background: green;
}
.inputs .clutchTextContainer {
  left: 20%;
}
.inputs .brakeTextContainer,
.inputs .clutchTextContainer {
  display: inline-block;
  position: absolute;
  font-size: 9px;
  height: 12px;
  margin: 0;
  top: 2px;
  bottom: 0;
  transform: translate(-50%);
}
.inputs .brakeTextContainer {
  left: 50%;
}
.inputs .throttleTextContainer {
  display: inline-block;
  position: absolute;
  font-size: 9px;
  height: 12px;
  margin: 0;
  top: 2px;
  bottom: 0;
  left: 80%;
  transform: translate(-50%);
}
.inputs.showNumbers .barContainer {
  height: 90%;
  top: 10%;
}
.inputs.hasWheel {
  height: 100px;
}
.inputs.hasWheel .barContainer {
  height: 60%;
  top: 0;
}
.inputs.hasWheel.showNumbers .barContainer {
  height: 50%;
  top: 10%;
}
.inputs.hasWheel .steeringWheel {
  position: absolute;
  top: 60%;
  left: 4px;
  transform-origin: 19px 19px;
  margin-top: 1px;
  background: transparent;
  border-radius: 100%;
}
.inputs.hasWheel .steeringWheel svg {
  margin: 0;
  transform-origin: top left;
  width: 38px;
  fill: #fff;
}