// extracted by mini-css-extract-plugin
// module.exports = {"inputs":"inputs","low":"low","barContainer":"barContainer","bar":"bar","clutchPedal":"clutchPedal","brakePedal":"brakePedal","throttlePedal":"throttlePedal","clutchTextContainer":"clutchTextContainer","brakeTextContainer":"brakeTextContainer","throttleTextContainer":"throttleTextContainer","showNumbers":"showNumbers","hasWheel":"hasWheel","steeringWheel":"steeringWheel"};

.inputsNew {
  position: fixed;
  width: 227px;
  height: 67px;
  display: flex;
  color: white;
  pointer-events: auto;
}

.inputsNew:not(.hasWheel) .inputsBars {
  width: 100%;
}

/* LEFT — WHEEL */
.inputsWheel {
  width: 72px;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2.5px;
}

.inputsWheel .steeringWheel svg {
  margin: 0;
  transform-origin: 50% 50%;
  width: 58px;
  fill: #fff;
}

.inputsWheel .steeringWheel {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* RIGHT — INPUTS */
.inputsBars {
  width: 152px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* EACH INPUT ROW */
.inputRow {
  display: flex;
  height: calc((100% - 6px) / 3);
  margin-bottom: 2.5px;
}

.inputRow:last-child {
  margin-bottom: 0;
}

/* VALUE */
.inputValue {
  width: 39px;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 0; 
}

.inputsNew:not(.showNumbers) .inputValue {
  display: none;
}

/* METER */
.inputMeter {
  flex: 1;
  background: rgba(0, 0, 0, 0.9);
  position: relative;
  overflow: hidden;
}

.inputsNew:not(.showNumbers) .inputMeter {
  width: 100%;
}

.inputFill {
  height: 100%;
  clip-path: inset(2px 0 2px 0);
}

/* COLORS */
.inputRow.clutch .inputFill {
  background: #707070;
}

.inputRow.brake .inputFill {
  background: rgba(243, 36, 36, 0.8);
}

.inputRow.throttle .inputFill {
  background: rgba(33, 170, 70, 0.9);
}