.damageNew {
  position: absolute;
  width: 227px;
  color: white;
  pointer-events: auto;
  font-family: 'Roboto';
  font-size: 16px;
}

/* container */
.carDamageNew {
  display: flex;
  flex-direction: column;
}

/* linha */
.damageRow {
  display: flex;
  height: 27px;
  margin-bottom: 3px;
}

.damageRow:last-child {
  margin-bottom: 0;
}

/* label (60%) */
.damageLabel {
  width: 114px;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  padding-left: 6px;
  font-weight: 600;
  font-size: 13.5px;
}

/* valor (80%) */
.damageValue {
  flex: 1;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

/* estados */
.damageRow.bad {
  color: rgb(221, 162, 53);
}

.damageRow.broken {
  color: rgb(236, 91, 91);
}
