// extracted by mini-css-extract-plugin
// module.exports = {"gforce":"gforce","point":"point","ring":"ring","ring-1":"ring-1","ring-2":"ring-2","ring-3":"ring-3","ring-4":"ring-4","line-horizontal":"line-horizontal","line-left":"line-left","line-right":"line-right","line-vertical":"line-vertical","line-top":"line-top","line-bottom":"line-bottom","letter":"letter","gripLevel":"gripLevel","fl":"fl","fr":"fr","rl":"rl","rr":"rr"};

.gforce {
  width: 100px;
  height: 100px;
  bottom: 40px;
  right: 380px;
  position: absolute;
  border-radius: 100%;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.5)
    url(./../../img/grid.png);
  transition: background 1s;
}
.gforce .point {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-shadow: 0 0 10px #000, 0 0 10px #000, 0 0 10px #000;
  font-size: 10px;
}
.gforce .point,
.gforce .ring {
  transform-origin: top left;
  position: absolute;
  transform: translate(-50%, -50%);
}
.gforce .ring {
  top: 50%;
  left: 50%;
  border-radius: 100%;
  border: 2px solid #333;
}
.gforce .ring.ring-1 {
  width: 25%;
  height: 25%;
}
.gforce .ring.ring-2 {
  width: 50%;
  height: 50%;
}
.gforce .ring.ring-3 {
  width: 75%;
  height: 75%;
}
.gforce .ring.ring-4 {
  width: 100%;
  height: 100%;
}
.gforce .line-horizontal {
  border-top: 1px solid #444;
  border-bottom: 1px solid #444;
  position: absolute;
  width: 50%;
  top: 50%;
  margin-top: -1px;
}
.gforce .line-horizontal.line-left {
  left: 0;
}
.gforce .line-horizontal.line-right {
  right: 0;
}
.gforce .line-vertical {
  border-left: 1px solid #444;
  border-right: 1px solid #444;
  position: absolute;
  height: 50%;
  left: 50%;
  margin-left: -1px;
}
.gforce .line-vertical.line-top {
  top: 0;
}
.gforce .line-vertical.line-bottom {
  bottom: 0;
}
.gforce .letter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 1px;
}
.gforce .gripLevel {
  position: absolute;
  z-index: 11;
  font-size: 10px;
  width: 20px;
  height: 20px;
  width: 50%;
  height: 50%;
}
.gforce .gripLevel.fl {
  top: 0;
  left: 0;
  border-top: 4px solid purple;
  border-left: 4px solid purple;
  border-radius: 100% 0 0 0;
}
.gforce .gripLevel.fr {
  top: 0;
  right: 0;
  border-top: 4px solid purple;
  border-right: 4px solid purple;
  border-radius: 0 100% 0 0;
}
.gforce .gripLevel.rl {
  bottom: 0;
  left: 0;
  border-bottom: 4px solid purple;
  border-left: 4px solid purple;
  border-radius: 0 0 0 100%;
}
.gforce .gripLevel.rr {
  bottom: 0;
  right: 0;
  border-bottom: 4px solid purple;
  border-right: 4px solid purple;
  border-radius: 0 0 100% 0;
}