.progress {
  display: none;
  position: relative;
}
.progress.shouldShow {
  display: block;
}
.progress .estimateContainer {
  top: 350px;
  width: 300px;
}
.progress .estimate,
.progress .estimateContainer {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
.progress .estimate {
  top: 0;
  font-size: 30px;
  padding: 5px 10px;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1), 0px -0.3px 2px rgba(50, 50, 50, 0.7);
}
.progress .estimate .qualifyInfo {
  position: absolute;
  top: 61px;
  left: 50%;
  transform: translate(-50%);
  width: 300px;
  white-space: nowrap;
  font-size: 15px;
  color: #fff;
}
.progress .estimate .qualifyInfo .esimatedLapTime {
  position: absolute;
  left: 0;
  padding: 2px;
}
.progress .estimate .qualifyInfo .esimatedLapTime .Estmono {
  margin-left: 6px;
}
/*
.progress .estimate .qualifyInfo .esimatedLapTime .Estmono.isGerman {
  left: 100px;
}
.progress .estimate .qualifyInfo .esimatedLapTime .Estmono.isPortuguese {
  left: 100px;
}
.progress .estimate .qualifyInfo .esimatedLapTime .Estmono.isFrench {
  left: 100px;
}
.progress .estimate .qualifyInfo .esimatedLapTime .Estmono.isSpanish {
  left: 100px;
}
.progress .estimate .qualifyInfo .esimatedLapTime .Estmono.isPolish {
  left: 100px;
}
*/
.progress .estimate .qualifyInfo .esimatedPosition {
  position: absolute;
  right: 0;
  padding: 2px;
}

.progress .lastLapContainer {
  top: 0;
  font-size: 30px;
  padding: 5px 10px;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1), 0px -0.3px 2px rgba(50, 50, 50, 0.7);
}
.progress .lastLapContainer .laps {
  position: absolute;
  top: 61px;
  left: 50%;
  transform: translate(-50%);
  width: 300px;
  white-space: nowrap;
  font-size: 15px;
  color: #fff;
}
.progress .lastLapContainer .laps .lapLabel {
  left: 0;
  padding: 2px;
}
.progress .lastLapContainer .laps .lastLap {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 65px;
  padding: 2px;
}

.progress .lastLapContainer .laps .lastLap.isGerman {
  left: 92px;
}
.progress .lastLapContainer .laps .lastLap.isPortuguese {
  left: 84px;
}
.progress .lastLapContainer .laps .lastLap.isFrench {
  left: 103px;
}
.progress .lastLapContainer .laps .lastLap.isSpanish {
  left: 94px;
}
.progress .lastLapContainer .laps .lastLap.isItalian {
  left: 84px;
}
.progress .lastLapContainer .laps .lastLap.isPolish {
  left: 93px;
}

.progress .deltaNextContainer {
  position: absolute;
  //top: 49px;
  width: 300px;
  background: #000;
  left: 50%;
  transform: translate(-50%);
}
/*
.progress.deltaTextOn .deltaNextContainer {
  top: 64px;
}
.progress.deltaTextOn .qualifyInfo {
  top: 70px;
}
*/
.progress .deltaNext {
  height: 6px;
  background: #fff;
}
.progress .simple {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 25px;
  height: 16px;
  width: 300px;
  background: rgba(0, 0, 0, 0.7);
}
.progress .simple .bad,
.progress .simple .good {
  height: 100%;
  position: absolute;
  background: #fff;
}
.progress .simple .good {
  left: 50%;
  background: #1bd84a;
}
.progress .simple .bad {
  right: 50%;
  background: #be2e2e;
}
.progress.overallGaining .estimate {
  color: #1bd84a;
}
.progress.overallLoosing .estimate {
  color: #be2e2e;
}
.progress.notDelta .estimate {
  color: #fff;
}
.progress .sectors {
  position: absolute;
  width: 100%;
  left: 0;
}
.progress .sectors .sector {
  background: #292929;
  display: inline-block;
  width: 100px;
  padding-top: 2px;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1), 0px -0.3px 2px rgba(50, 50, 50, 0.7);
}
.progress .sectors .sector:after {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
/*
.progress .sectors .sector:first-child:after {
  border-left: 0px solid hsla(0, 0%, 100%, 0.1);
}
*/
.progress.estims .laps {
  top: 79px;
}
.progress.showAsTime .qualifyInfo {
  top: 76px;
}
.progress.showAsTime .sectors {
  top: 41px;
}
.progress.showAsTime .sector {
  height: 22px;
}
.progress.showAsTime .deltaNextContainer {
  top: 71px;
}
.progress.showAsTime.deltaTextOn .deltaNextContainer {
  top: 84px;
}
.progress.showAsTime.deltaTextOn .qualifyInfo {
  top: 95px;
}
.progress.showAsTime .laps {
  top: 76px;
}
.progress.showAsTime.estims .laps {
  top: 97px;
}
.progress.pbl .lastLap {
  color: #1bd84a;
}
.progress.gbl .lastLap {
  color: rgb(199, 93, 199);
}