@charset "UTF-8";

/* cyrillic-ext */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 500;
  src: url(./../../fonts/roboto-condensed-cyrillic-ext-500.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 500;
  src: url(./../../fonts/roboto-condensed-cyrillic-500.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 500;
  src: url(./../../fonts/roboto-condensed-vietnamese-500.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 500;
  src: url(./../../fonts/roboto-condensed-latin-ext-500.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 500;
  src: url(./../../fonts/roboto-condensed-latin-500.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* bitcount-grid-single-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Bitcount Grid Single';
  font-style: normal;
  font-weight: 400;
  src: url('./../../fonts/bitcount-grid-single-v3-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


.settings .button_close,
.settings .button_reset,
.settings .buttona,
.settings .buttonb,
.settings .buttonc,
.settings .buttond,
.settings .buttonSnap,
.settings .toggleChangeLog,
.settings .widget label,
.toggleSettings:hover,
.toggleVisibility:hover,
input[type="checkbox"] {
  cursor: url(./../../img/cursor2.cur), pointer;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url(./../../fonts/roboto-v50-latin-300.ttf);
}
@font-face {
  font-family: 'Roboto';
    font-style: normal;
  font-weight: 700;
  src: url(./../../fonts/roboto-v50-latin-700.ttf);
}
@font-face {
  font-family: 'Roboto-Bold';
  src: url(./../../fonts/roboto-v50-latin-700.ttf);
}
body,
html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  color: #fff;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  overflow: hidden;
}
body,
button,
html,
input,
option,
select {
  font-family: 'Roboto Condensed';
}
.mono {
  font-family: 'Roboto Condensed';
}
*,
:after,
:before {
  box-sizing: border-box;
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  cursor: url(./../../img/cursor1.cur), pointer;
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"]:hover {
  box-shadow: 0 0 0 1px #333, 0 0 1.7vh #000;
}
input[type="checkbox"]:checked {
  background: #fff;
  border: 4px solid #111;
}
input[type="checkbox"]:checked:after {
  display: none;
}
input[type="range"] {
  position: relative;
  display: inline-block;
  margin-left: 3%;
  overflow: hidden;
  -webkit-appearance: none;
  border-width: 0;
  background-color: transparent;
  height: 10px;
  width: 65%;
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  height: 100%;
  -webkit-appearance: none;
  color: #13bba4;
  border-width: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
input[type="range"]::-webkit-slider-thumb {
  width: 10px;
  border-radius: 5px;
  -webkit-appearance: none;
  height: 100%;
  background: #fff;
  box-shadow: -200px 0 0 200px #53523c;
  border-width: 0;
}
#root,
.app {
  height: 100%;
  position: relative;
}
.app {
  margin: 0 auto;
}
.app.hide .widgets {
  display: none;
}
.viewport {
  width: 1920px;
  height: 1080px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  zoom: 1;
}
html.debug .viewport {
  background: transparent;
  background-size: cover;
  background-position: 50%;
}
.viewport .rankingSite,
.viewport .rankingSite .rankingSiteFrame {
  cursor: url(./../../img/cursor1.cur), auto;
}
.viewport .changelog {
  position: relative;
  top: 2.5%;
  left: 2.5%;
  width: 95%;
  height: 95%;
  background: rgba(0, 0, 0, 0.8);
  border: 10px solid hsla(0, 0%, 48.2%, 0.8);
  border-radius: 10px;
  font-size: 40px;
}
.viewport .changelog .line {
  top: 74%;
}
.viewport .changelog .line,
.viewport .changelog .line2 {
  left: 1%;
  width: 14%;
  height: 1px;
  color: #fff;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-radius: 1px;
  position: absolute;
}
.viewport .changelog .line2 {
  top: 95%;
}
.viewport .changelog .sealLogo {
  position: absolute;
  top: 8%;
  left: 2%;
  zoom: 0.5;
}
.viewport .changelog .sealTitle {
  position: absolute;
  left: 49%;
  text-decoration: underline;
  top: 2%;
  color: #fff;
  font-weight: 700;
}
.viewport .changelog .sealVersion {
  position: absolute;
  top: 43%;
  left: 3.4%;
  color: silver;
}
.viewport .changelog .forumTitle {
  position: absolute;
  top: 50%;
  left: 20px;
  color: #fff;
  font-size: 24px;
  white-space: pre;
  text-align: center;
}
.viewport .changelog .forumQRImg {
  position: absolute;
  top: 57%;
  left: 3.8%;
  zoom: 0.70;
}
.viewport .changelog .coffeePot {
  position: absolute;
  zoom: 0.20;
  top: 80.5%;
  left: 0.74%;
  background: hsla(0, 0%, 100%, 0.0);
  border: 1px solid transparent;
  border-radius: 10px;
}
.viewport .changelog .paypalQRImg {
  position: absolute;
  top: 81.5%;
  left: 7.85%;
  zoom: 0.55;
}
.viewport .changelog .payPal_1 {
  position: absolute;
  font-size: 34px;
  top: 76%;
  left: 4.3%;
  color: #fff;
  white-space: pre;
}
.viewport .changelog .payPal_2 {
  position: absolute;
  font-size: 34px;
  top: 91%;
  left: 1%;
  white-space: pre;
}
.viewport .changelog .changeLogTitle {
  position: absolute;
  font-size: 36px;
  left: 54%;
  top: 10%;
  transform: translate(-14%);
}
.viewport .changelog .theLog {
  padding: 10px;
  background: rgba(0, 0, 0, 0.9);
  font-size: 18px;
  line-height: 22px;
  position: absolute;
  border: 2px solid #fff;
  border-radius: 2px;
  top: 14%;
  left: 16%;
  overflow: auto;
  max-height: 80%;
  min-height: 80%;
  width: 82%;
  white-space: pre;
}

.viewport .changelog .gotIt {
  height: 50px;
  width: 75%;
  position: absolute;
  color: #000;
  left: 20%;
  top: 94.5%;
  border: 2px solid #000;
  border-radius: 10px;
  text-align: center;
  background: hsla(0, 0%, 100%, 0.8);
  text-transform: uppercase;
  font-size: 42px;
  line-height: 42px;
}
.viewport .changelog .gotIt:hover {
  background: #00c832;
  color: #000;
}
.viewport .changelog .gotIt:focus {
  outline: none;
}

.help {
  position: absolute;
  top: 100px;
  left: 10px;
  background: transparent;
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 15px;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.4);
  line-height: 1.4;
  width: 300px;
  overflow: visible;
  white-space: nowrap;
}
.help a {
  color: #ffa;
}
.help .versionMismatch {
  color: #ff0;
  text-align: center;
}
.help .noData {
  font-weight: 700;
  color: red;
  font-size: 22px;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
}
.help .fillor {
  color: transparent;
  text-shadow: 0 0 0 transparent, 0 0 0 transparent;
}
.help .ccOption {
  color: silver;
  background: #323232;
  width: 195px;
  text-align: center;
}
.helpa {
  position: absolute;
  top: 100px;
  left: 10px;
  background: transparent;
  border-radius: 20px;
  font-size: 15px;
  text-shadow: 0 0 0 transparent, 0 0 0 transparent;
  line-height: 1.4;
  width: 240px;
  overflow: visible;
  white-space: nowrap;
  opacity: 1;
}
.helpa,
.helpa a {
  color: transparent;
}
.debug.hide {
  display: none;
}
.debug input {
  width: 600px;
  transform: translate(-50%);
}
.debug .clear,
.debug input {
  position: fixed;
  top: 10px;
  left: 50%;
  top: 0;
  padding: 10px;
}
.debug .clear {
  width: 40px;
  text-align: center;
  transform: translate(260px);
  background: #000;
}
.debug .clear:hover {
  background: #8b0000;
}
.debug .debugInfo {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 26px;
  background: rgba(0, 0, 0, 0.8);
  max-height: 95%;
  font-family: Inconsolata, Courier New, Courier, monospace;
  font-size: 10px;
  overflow: auto;
  width: 600px;
  padding: 10px;
  z-index: 1111;
}
.debug .debugInfo::-webkit-scrollbar {
  width: 10px;
  background-color: #1b1b1b;
  border-left: 0.1vh solid hsla(0, 0%, 100%, 0.1);
}
.debug .debugInfo::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: #fff;
}
.toggleSettings,
.toggleVisibility {
  position: absolute;
  top: 150px;
  left: 10px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 100%;
  opacity: 0;
}
.toggleSettings:hover .svgIcon svg,
.toggleVisibility:hover .svgIcon svg {
  fill: #ffa;
}
.toggleSettings .svgIcon,
.toggleVisibility .svgIcon {
  height: 50px;
  width: 50px;
  padding: 10px 5px;
}
.toggleSettings .svgIcon svg,
.toggleVisibility .svgIcon svg {
  fill: #fff;
}
.toggleSettings.showIcon,
.toggleVisibility.showIcon {
  opacity: 1;
}
.toggleVisibility {
  top: 210px;
}
.lockHud,
.toggleLayout1,
.toggleLayout2,
.toggleLayout3 {
  position: absolute;
  top: 270px;
  left: 10px;
  width: 50px;
  height: 50px;
  background: #000;
  color: #fff;
  border-radius: 100%;
  font-size: 38px;
  padding: 4px;
  text-align: center;
  vertical-align: middle;
  opacity: 0;
}
.lockHud.showIcon,
.toggleLayout1.showIcon,
.toggleLayout2.showIcon,
.toggleLayout3.showIcon {
  opacity: 1;
}
.lockHud.active,
.toggleLayout1.active,
.toggleLayout2.active,
.toggleLayout3.active {
  background: #fff;
  color: #000;
}
.toggleLayout2 {
  top: 330px;
}
.toggleLayout2.active {
  background: #fff;
  color: #000;
}
.toggleLayout3 {
  top: 390px;
}
.toggleLayout3.active {
  background: #fff;
  color: #000;
}
.lockHud {
  top: 450px;
}
.lockHud.active {
  background: #fff;
}
.editGrid {
  position: absolute;
  top: 0;
  left: -100%;
  right: -100%;
  bottom: 0;
  pointer-events: none;
  z-index: -1;

  background-image:
    linear-gradient(to right, rgba(0,0,0,0.4) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0,0,0,0.4) 1px, transparent 1px);
  background-size: 30px 30px;
}
.editGrid::before,
.editGrid::after {
  content: "";
  position: absolute;
  background: #000;
}

.editGrid::before {
  width: 1px;
  top: 0;
  bottom: 0;
  left: 50%;
}

.editGrid::after {
  height: 1px;
  left: 0;
  right: 0;
  top: 50%;
}
@keyframes warningBlinker {
  50% {
    opacity: 0.7;
  }
  0% {
    opacity: 1;
  }
}

.svgIcon svg {
  height: 100%;
  width: 100%;
}

.motec,
.positionBarContainer.relative .bestLap,
.positionBarContainer.relative .currentLap,
.positionBarContainer.relative .currentPosition,
.positionBarContainer.relative .incidentPoints,
.positionBarContainer.relative .lastLap,
.positionBarContainer.relative .sessionTime {
  display: none;
}

// NOVO SETTINGS

.settingsRoot {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1700px;
  height: 998px;
  display: flex;
  background: rgba(0, 0, 0, 0.98);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* Painel direito (widgets) */
.settingsRight {
  flex: 1;
  height: 100%;
  padding: 12px;
  box-sizing: border-box;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: min-content;
  gap: 10px;
}

.widget {
  background: rgba(12, 12, 12, 0.2);
  border-radius: 15px 0 18px 0; /* cantos assimétricos */
  border: 3px solid rgb(37, 37, 37);
  padding: 10px;
  display: flex;
  flex-direction: column;
  //transition: background 0.2s ease;
}

.widget.active {
  background: linear-gradient(rgba(59, 59, 59, 0.3), rgba(15, 15, 15, 0.6));
  border: 3px solid rgb(180, 180, 180);
}

.widgetBody {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.widget .widgetTitle {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.6);
}

.widget.active .widgetTitle {
  color: #ffffff;
}

.widget:not(.active) .widgetBody {
  opacity: 0.35;
  pointer-events: none;
}

.widgetHeader {
  display: flex;
  align-items: center;
  gap: 10px;
}

.widgetLabel {
  flex: 1;
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.widgetDivider {
  height: 1px;
  background: rgba(255, 255, 255, 0.25);
  margin: 7px 0;
}

.sub {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: white;
  padding: 3px 6px;
}

.sub:hover {
  background: rgba(255, 255, 255, 0.08);
}

.sub.active {
  color: #ecff81;
}

.sub button {
  margin-left: auto;
  height: 15px;
  padding: 0 6px;
  font-size: 11px;
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: white;
  margin-top: -1px;
  cursor: pointer;
}

.sub button.active {
  background: white;
  color: black;
}

.barValue {
  min-width: 32px;
  text-align: right;
  font-size: 14px;
}

.resetWidgetButton {
  height: 22px;
  padding: 0 8px;
  font-size: 11px;
  color: white;
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.resetWidgetButton:hover {
  background: rgba(0, 0, 0, 0.9);
}

/* Painel esquerdo */
.settingsLeft {
  width: 270px;
  height: 100%;
  //background: rgba(26, 24, 131, 0.6);
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(48, 57, 95, 0.6));
  display: flex;
  flex-direction: column;
  padding: 12px;
  box-sizing: border-box;
}

.settingsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  color: white;
  margin-bottom: 0px;
}

.versionText {
  text-align: left;
}

.performanceText {
  text-align: right;
}

.settingsLogo {
  display: flex;
  justify-content: center;
  margin: 20px 0 2px 0;
}

.settingsLogo img {
  max-width: 180px;
}

.mainButton {
  width: 100%;
  height: 32px;
  margin: 2px auto;
  background: rgba(0, 0, 0, 0.7);
  border: 1px solid #3b3b3b;
  color: white;
  font-size: 14px;
  text-align: center;
}

.mainButton:hover {
  background: #0f0f0f98;
}

.mainButton.active {
  background: white;
  color: black;
}

.optionGroup {
  padding-top: 12px;
}

/* LABEL */
.optionLabel {
  width: 100%;
  height: 35px;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
}

/* BODY */
.optionBody {
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  padding: 5px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.optionButton {
  width: 200px;
  height: 24px;
  margin: 2px 0;
  background: transparent;
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.optionButton:hover {
  background: rgba(255, 255, 255, 0.05);
}

.optionButton.active {
  background: white;
  color: #222;
}

.optionBody.rows {
  align-items: stretch;
}

.optionRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px 10px;
  font-size: 14px;
  color: white;
}

.optionRow span {
  flex: 1;
  text-align: left;
}

.smallOption {
  width: 65px;
  height: 24px;
  margin-left: 5px;
  background: transparent;
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
}

.smallOption:hover {
  background: rgba(255, 255, 255, 0.15);
}

.smallOption.active {
  background: white;
  color: #222;
}

.settingsFooter {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 05px;
}