@charset "UTF-8";

/* cyrillic-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url(./../../fonts/TK3_Oswald4.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url(./../../fonts/TK3_Oswald2.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url(./../../fonts/TK3_Oswald3.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url(./../../fonts/TK3_Oswald1.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url(./../../fonts/TK3_Oswald5.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.settings .button_close,
.settings .button_reset,
.settings .buttona,
.settings .buttonb,
.settings .buttonc,
.settings .buttond,
.settings .buttonSnap,
.settings .toggleChangeLog,
.settings .widget label,
.toggleSettings:hover,
.toggleVisibility:hover,
input[type="checkbox"] {
  cursor: url(./../../img/cursor2.cur), pointer;
}
@font-face {
  font-family: OswaldNumbersMono;
  src: url(./../../fonts/OswaldNumbersMono.ttf);
}
@font-face {
  font-family: EurasiaEx;
  src: url(./../../fonts/EurasiaExa-Regular.ttf);
}
@font-face {
  font-family: EurasiaEx-Bold;
  src: url(./../../fonts/EurasiaEx.ttf);
}
body,
html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  color: #fff;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  overflow: hidden;
}
body,
button,
html,
input,
option,
select {
  font-family: Oswald;
}
.mono {
  font-family: OswaldNumbersMono, Oswald;
}
*,
:after,
:before {
  box-sizing: border-box;
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  cursor: url(./../../img/cursor1.cur), pointer;
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"]:hover {
  box-shadow: 0 0 0 1px #333, 0 0 1.7vh #000;
}
input[type="checkbox"]:checked {
  background: #fff;
  border: 4px solid #111;
}
input[type="checkbox"]:checked:after {
  display: none;
}
input[type="range"] {
  position: relative;
  display: inline-block;
  margin-left: 3%;
  overflow: hidden;
  -webkit-appearance: none;
  border-width: 0;
  background-color: transparent;
  height: 10px;
  width: 65%;
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  height: 100%;
  -webkit-appearance: none;
  color: #13bba4;
  border-width: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
input[type="range"]::-webkit-slider-thumb {
  width: 10px;
  border-radius: 5px;
  -webkit-appearance: none;
  height: 100%;
  background: #fff;
  box-shadow: -200px 0 0 200px #18b8eb;
  border-width: 0;
}
#root,
.app {
  height: 100%;
  position: relative;
}
.app {
  margin: 0 auto;
}
.app.hide .widgets {
  display: none;
}
.viewport {
  width: 1920px;
  height: 1080px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  zoom: 1;
}
html.debug .viewport {
  background: transparent;
  background-size: cover;
  background-position: 50%;
}
.viewport .rankingSite,
.viewport .rankingSite .rankingSiteFrame {
  cursor: url(./../../img/cursor1.cur), auto;
}
.viewport .changelog {
  position: relative;
  top: 2.5%;
  left: 2.5%;
  width: 95%;
  height: 95%;
  background: rgba(0, 0, 0, 0.8);
  border: 10px solid hsla(0, 0%, 48.2%, 0.8);
  border-radius: 10px;
  font-size: 40px;
}
.viewport .changelog .line {
  top: 74%;
}
.viewport .changelog .line,
.viewport .changelog .line2 {
  left: 1%;
  width: 14%;
  height: 1px;
  color: #fff;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-radius: 1px;
  position: absolute;
}
.viewport .changelog .line2 {
  top: 95%;
}
.viewport .changelog .sealLogo {
  position: absolute;
  top: 8%;
  left: 2%;
  zoom: 0.5;
}
.viewport .changelog .sealTitle {
  position: absolute;
  left: 49%;
  text-decoration: underline;
  top: 2%;
  color: #fff;
  font-weight: 700;
}
.viewport .changelog .sealVersion {
  position: absolute;
  top: 43%;
  left: 3.4%;
  color: silver;
}
.viewport .changelog .forumTitle {
  position: absolute;
  top: 50%;
  left: 20px;
  color: #fff;
  font-size: 24px;
  white-space: pre;
  text-align: center;
}
.viewport .changelog .forumQRImg {
  position: absolute;
  top: 57%;
  left: 3.8%;
  zoom: 0.70;
}
.viewport .changelog .coffeePot {
  position: absolute;
  zoom: 0.20;
  top: 80.5%;
  left: 0.74%;
  background: hsla(0, 0%, 100%, 0.0);
  border: 1px solid transparent;
  border-radius: 10px;
}
.viewport .changelog .paypalQRImg {
  position: absolute;
  top: 81.5%;
  left: 7.85%;
  zoom: 0.55;
}
.viewport .changelog .payPal_1 {
  position: absolute;
  font-size: 34px;
  top: 76%;
  left: 4.3%;
  color: #fff;
  white-space: pre;
}
.viewport .changelog .payPal_2 {
  position: absolute;
  font-size: 34px;
  top: 91%;
  left: 1%;
  white-space: pre;
}
.viewport .changelog .changeLogTitle {
  position: absolute;
  font-size: 36px;
  left: 54%;
  top: 10%;
  transform: translate(-14%);
}
.viewport .changelog .theLog {
  padding: 10px;
  background: rgba(0, 0, 0, 0.9);
  font-size: 18px;
  line-height: 22px;
  position: absolute;
  border: 2px solid #fff;
  border-radius: 2px;
  top: 14%;
  left: 16%;
  overflow: auto;
  max-height: 80%;
  min-height: 80%;
  width: 82%;
  white-space: pre;
}

.viewport .changelog .gotIt {
  height: 50px;
  width: 75%;
  position: absolute;
  color: #000;
  left: 20%;
  top: 94.5%;
  border: 2px solid #000;
  border-radius: 10px;
  text-align: center;
  background: hsla(0, 0%, 100%, 0.8);
  text-transform: uppercase;
  font-size: 42px;
  line-height: 42px;
}
.viewport .changelog .gotIt:hover {
  background: #00c832;
  color: #000;
}
.viewport .changelog .gotIt:focus {
  outline: none;
}
.settings {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  background: rgba(70, 70, 70, 0.8);
  width: 1750px;
  padding: 10px;
  zoom: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.settings .warningtext {
  display: block;
  height: 10px;
  width: 1750px;
  left: 50%;
  transform: translate(23%);
  top: 0;
  font-size: 18px;
  text-align: center;
  color: red;
  animation: warningBlinker 1s linear infinite;
}
.settings .versionNumber {
  color: #fff;
  width: 244px;
  text-align: center;
  height: 14px;
  line-height: 14px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1), 0px -0.5px 6px rgba(50, 50, 50, 0.7);
}
.settings .performance {
  display: block;
  position: absolute;
  width: 128px;
  height: 24px;
  margin: 0 130px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1), 0px -0.5px 6px rgba(50, 50, 50, 0.7);
}
.settings .sealhud_logo {
  display: block;
  position: absolute;
  width: 443px;
  height: 700px;
  margin: 50px 75px 0;
  zoom: 0.42;
}
.settings .buttonSnap {
  display: block;
  position: absolute;
  top: 0;
  width: 190px;
  height: 24px;
  margin: 350px 25px 0;
  border: 2px solid #333;
  border-radius: 3px;
  background: #000;
  color: #fff;
  padding: 0;
  text-transform: uppercase;
  font-size: 14px;
}
.settings .buttonSnap:hover {
  background: #fff;
  color: #000;
}
.settings .buttonSnap:focus {
  outline: none;
}
.settings .buttonSnap.active {
  background: rgba(0, 178, 70, 0.5);
  border: 2px solid rgba(0, 178, 70, 0.8);
  color: #fff;
}
.settings .toggleChangeLog {
  display: block;
  position: absolute;
  top: -26px;
  width: 190px;
  height: 24px;
  margin: 350px 25px 0;
  border: 2px solid #333;
  border-radius: 3px;
  background: #000;
  color: #fff;
  padding: 0;
  text-transform: uppercase;
  font-size: 14px;
}
.settings .toggleChangeLog:hover {
  background: #fff;
  color: #000;
}
.settings .toggleChangeLog:focus {
  outline: none;
}
.settings .widget {
  padding: 2px;
  width: 230px;
  border: 1px solid hsla(0, 0%, 100%, 0);
  border-radius: 0px;
  background: rgba(0, 0, 0, 0.5);
  margin: 2px 0.4%;
}
.settings .widget:first-child {
  padding-top: 5px;
}
.settings .widget:last-child {
  padding-bottom: 5px;
}
.settings .widget label {
  display: block;
}
.settings .widget label:hover {
  color: #ffa;
}
.settings .widget label.main {
  border: 2px solid #2d2d2d;
  background: rgba(64, 64, 64, 0);
  padding: 5px 0 5px 10px;
}
.settings .widget label.main.active {
  border: 2px solid #fff;
  color: #fff;
  background: rgba(0, 178, 70, 0.5);
}
.settings .widget label.main.active:hover {
  color: #ffa;
}
.settings .widget label .text {
  white-space: nowrap;
  font-size: 20px;
  width: 245px;
  display: inline-block;
  text-overflow: ellipsis;
}
.settings .widget .resetWidgetButton {
  float: right;
  position: relative;
  top: -27px;
  height: 22px;
  line-height: 13px;
  margin-right: 3px;
  color: #fff;
  background: hsla(0, 0%, 40.8%, 0.5);
}
.settings .widget .resetWidgetButton:hover {
  background: rgba(198, 70, 0, 0.9);
}
.settings .widget input[type="checkbox"] {
  float: right;
  margin-left: 20px;
  clear: both;
  position: relative;
  top: -22px;
}
.settings .widget .subWidget {
  color: #aaa;
  background: transparent;
  padding: 5px 0 2px 10px;
  height: 22px;
}
.settings .widget .subWidget .urlInput {
  position: absolute;
  width: 1200px;
  left: 50%;
  top: 26%;
  transform: translate(-50%, -50%);
  border: 5px solid #fff;
  border-radius: 5px;
  font-size: 28px;
  background: #000;
  color: #fff;
  text-align: center;
}
.settings .widget .subWidget .sub {
  background: transparent;
  border: 2px solid #5a5a5a;
  margin-right: 10px;
  align-items: center;
  white-space: nowrap; /* evita quebra de linha */
}

.settings .widget .subWidget .sub.active {
  border: 2px solid rgba(0, 178, 70, 0.8);
  color: #fff;
  background: rgba(0, 178, 70, 0.5);
}
.settings .widget .subWidget .sub.active:hover {
  color: #ffa;
}
.settings .widget .subWidget .sub .barValue {
  display: inline-block;
  margin-left: 10px;
}

.settings .widget .rankInvert {
  border: 1px solid #fff;
  background: #000;
  color: #fff;
  font-size: 12px;
  position: relative;
  width: 35px;
  height: 11px;
  line-height: 14px;
  float: right;
  right: -2px;
  top: -1px;
  text-align: center;
  margin-top: 0;
  padding: 0 0 15px;
}
.settings .widget .rankInvert.active {
  background: #fff;
  border: 1px solid #90ee90;
  color: #000;
  font-weight: 700;
}

.settings .widget .gainLossPermanentBar,
.settings .widget .gainLossPermanentTower,
.settings .widget .motecBottom {
	border: 1px solid #fff;
	background: #000;
	color: #fff;
	font-size: 12px;
	position: relative;
	width: 40px;
	height: 11px;
	line-height: 14px;
	float: right;
	right: -2px;
	top: -1px;
	text-align: center;
	margin-top: 0;
	padding: 0 0 15px
}

.settings .widget .gainLossPermanentBar.active,
.settings .widget .gainLossPermanentTower.active,
.settings .widget .motecBottom.active {
	background: #fff;
	border: 1px solid #90ee90;
	color: #000;
	font-weight: 700
}

.settings .widget .num1 {
  border: 1px solid #fff;
  background: #000;
  color: #aaa;
  font-size: 12px;
  position: relative;
  height: 16px;
  width: 18px;
  float: right;
  text-align: center;
  margin-top: -1px;
  padding: 0 0 15px;
}
.settings .widget .num1.active {
  background: #006400;
  color: #fff;
}
.settings .widget .num2 {
  border: 1px solid #fff;
  background: #000;
  color: #aaa;
  font-size: 12px;
  position: relative;
  height: 16px;
  width: 16px;
  float: right;
  text-align: center;
  margin: -1px 0 0;
  padding: 0 0 15px;
}
.settings .widget .num2.active {
  background: #006400;
  color: #fff;
}
.settings .widget .num3 {
  border: 1px solid #fff;
  background: #000;
  color: #aaa;
  font-size: 12px;
  position: relative;
  height: 16px;
  width: 16px;
  float: right;
  text-align: center;
  margin-right: -2px;
  margin-top: -1px;
  padding: 0 0 15px;
}
.settings .widget .num3.active {
  background: #006400;
  color: #fff;
}
.settings .button_reset {
  width: calc(50% - 20px);
  margin: 5px 10px;
  border: 2px solid #333;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  height: 30px;
  padding: 1px 0 0;
  text-transform: uppercase;
  font-size: 18px;
}
.settings .button_reset:hover {
  background: #fff;
  color: #000;
}
.settings .button_reset:focus {
  outline: none;
}
.settings .button_close {
  width: calc(100% - 20px);
  margin: 5px 10px;
  border: 2px solid #333;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  height: 40px;
  padding: 2px 0 0;
  text-transform: uppercase;
  font-size: 20px;
}
.settings .button_close:hover {
  background: #fff;
  color: #000;
}
.settings .button_close:focus {
  outline: none;
}
.settings .buttona {
  width: calc(50% - 20px);
  margin: 10px;
  border: 2px solid #333;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  height: 30px;
  padding: 1px 0 0;
  text-transform: uppercase;
  font-size: 18px;
}
.settings .buttona:hover {
  background: #fff;
  color: #000;
}
.settings .buttona:focus {
  outline: none;
}
.settings .buttona.active {
  background: rgba(0, 178, 70, 0.5);
  border: 2px solid rgba(0, 178, 70, 0.8);
  color: #fff;
}
.settings .buttonb {
  width: calc(16.67% - 20px);
  margin: 5px 10px;
  border: 2px solid #333;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  height: 30px;
  padding: 1px 0 0;
  text-transform: uppercase;
  font-size: 18px;
}
.settings .buttonb:hover {
  background: #fff;
  color: #000;
}
.settings .buttonb:focus {
  outline: none;
}
.settings .buttonb.active {
  background: rgba(0, 178, 70, 0.5);
  border: 2px solid rgba(0, 178, 70, 0.8);
  color: #fff;
}
.settings .buttonc {
  width: calc(16.67% - 20px);
  margin: 5px 10px;
  border: 2px solid #333;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  height: 30px;
  padding: 1px 0 0;
  text-transform: uppercase;
  font-size: 18px;
}
.settings .buttonc:hover {
  background: #fff;
  color: #000;
}
.settings .buttonc:focus {
  outline: none;
}
.settings .buttonc.active {
  background: rgba(0, 178, 70, 0.5);
  border: 2px solid rgba(0, 178, 70, 0.8);
  color: #fff;
}
.settings .buttond {
  width: calc(16.67% - 21px);
  margin: 5px 10px;
  border: 2px solid #333;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  height: 30px;
  padding: 1px 0 0;
  text-transform: uppercase;
  font-size: 18px;
}
.settings .buttond:hover {
  background: #fff;
  color: #000;
}
.settings .buttond:focus {
  outline: none;
}
.settings .buttond.active {
  background: rgba(0, 178, 70, 0.5);
  border: 2px solid rgba(0, 178, 70, 0.8);
  color: #fff;
}
.settings .languages {
  display: flex;
  width: 50%;
  height: 50px;
}
.settings .languages .language {
  flex: auto;
  margin: 10px;
  padding: 2px 0 0;
  border: 2px solid #fff;
  border-radius: 3px;
  text-align: center;
  font-size: 20px;
  width: 33.33%;
}
.settings .languages .language:hover {
  background: #fff;
  color: #000;
}
.settings .languages .language.active {
  background: rgba(0, 178, 70, 0.5);
  color: #000;
}
.help {
  position: absolute;
  top: 100px;
  left: 10px;
  background: transparent;
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 15px;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.4);
  line-height: 1.4;
  width: 300px;
  overflow: visible;
  white-space: nowrap;
}
.help a {
  color: #ffa;
}
.help .versionMismatch {
  color: #ff0;
  text-align: center;
}
.help .noData {
  font-weight: 700;
  color: red;
  font-size: 22px;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
}
.help .fillor {
  color: transparent;
  text-shadow: 0 0 0 transparent, 0 0 0 transparent;
}
.help .ccOption {
  color: silver;
  background: #323232;
  width: 195px;
  text-align: center;
}
.helpa {
  position: absolute;
  top: 100px;
  left: 10px;
  background: transparent;
  border-radius: 20px;
  font-size: 15px;
  text-shadow: 0 0 0 transparent, 0 0 0 transparent;
  line-height: 1.4;
  width: 240px;
  overflow: visible;
  white-space: nowrap;
  opacity: 1;
}
.helpa,
.helpa a {
  color: transparent;
}
.debug.hide {
  display: none;
}
.debug input {
  width: 600px;
  transform: translate(-50%);
}
.debug .clear,
.debug input {
  position: fixed;
  top: 10px;
  left: 50%;
  top: 0;
  padding: 10px;
}
.debug .clear {
  width: 40px;
  text-align: center;
  transform: translate(260px);
  background: #000;
}
.debug .clear:hover {
  background: #8b0000;
}
.debug .debugInfo {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 26px;
  background: rgba(0, 0, 0, 0.8);
  max-height: 95%;
  font-family: Inconsolata, Courier New, Courier, monospace;
  font-size: 10px;
  overflow: auto;
  width: 600px;
  padding: 10px;
  z-index: 1111;
}
.debug .debugInfo::-webkit-scrollbar {
  width: 10px;
  background-color: #1b1b1b;
  border-left: 0.1vh solid hsla(0, 0%, 100%, 0.1);
}
.debug .debugInfo::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: #fff;
}
.toggleSettings,
.toggleVisibility {
  position: absolute;
  top: 150px;
  left: 10px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 100%;
  opacity: 0;
}
.toggleSettings:hover .svgIcon svg,
.toggleVisibility:hover .svgIcon svg {
  fill: #ffa;
}
.toggleSettings .svgIcon,
.toggleVisibility .svgIcon {
  height: 50px;
  width: 50px;
  padding: 10px 5px;
}
.toggleSettings .svgIcon svg,
.toggleVisibility .svgIcon svg {
  fill: #fff;
}
.toggleSettings.showIcon,
.toggleVisibility.showIcon {
  opacity: 1;
}
.toggleVisibility {
  top: 210px;
}
.lockHud,
.toggleLayout1,
.toggleLayout2,
.toggleLayout3 {
  position: absolute;
  top: 270px;
  left: 10px;
  width: 50px;
  height: 50px;
  background: #000;
  color: #fff;
  border-radius: 100%;
  font-size: 38px;
  padding: 4px;
  text-align: center;
  vertical-align: middle;
  opacity: 0;
}
.lockHud.showIcon,
.toggleLayout1.showIcon,
.toggleLayout2.showIcon,
.toggleLayout3.showIcon {
  opacity: 1;
}
.lockHud.active,
.toggleLayout1.active,
.toggleLayout2.active,
.toggleLayout3.active {
  background: #fff;
  color: #000;
}
.toggleLayout2 {
  top: 330px;
}
.toggleLayout2.active {
  background: #fff;
  color: #000;
}
.toggleLayout3 {
  top: 390px;
}
.toggleLayout3.active {
  background: #fff;
  color: #000;
}
.lockHud {
  top: 450px;
}
.lockHud.active {
  background: #fff;
}
.editGrid {
  position: absolute;
  top: 0;
  left: -100%;
  right: -100%;
  bottom: 0;
  pointer-events: none;
  background: url(./../../img/editGrid.png) 0 0;
  z-index: -1;
}
.editGrid:after,
.editGrid:before {
  content: "";
  display: block;
  position: absolute;
}
.editGrid:before {
  left: 50%;
  top: 0;
  bottom: 0;
  border-left: 2px solid #000;
}
.editGrid:after {
  top: 50%;
  left: 0;
  right: 0;
  border-top: 2px solid #000;
}
@keyframes warningBlinker {
  50% {
    opacity: 0.7;
  }
  0% {
    opacity: 1;
  }
}

.svgIcon svg {
  height: 100%;
  width: 100%;
}

.motec,
.positionBarContainer.relative .bestLap,
.positionBarContainer.relative .currentLap,
.positionBarContainer.relative .currentPosition,
.positionBarContainer.relative .incidentPoints,
.positionBarContainer.relative .lastLap,
.positionBarContainer.relative .sessionTime {
  display: none;
}