.sessionInfo {
  position: absolute;
  display: flex;  
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000,
  1px 1px 3px rgba(0, 0, 0, 1), 1px 1px 3px rgba(0, 0, 0, 1), 0px -0.5px 2px rgba(0, 0, 0, 1);
}

.pbBlock {
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  gap: 3px;
  pointer-events: auto;
  //background: rgba(0, 0, 0, 0.5);
  
}

.pbInfoBox {
  text-align: center;
  border-radius: 4px;
  width: 129px;
}

.pbInfoBox.background {
  background: rgba(0, 0, 0, 0.6);
}

.pbValue {
  font-size: 30px;
  padding: 3px;
  border-radius: 4px 4px 0 0;
}

.pbValue.background {
  background: rgba(0, 0, 0, 0.3);
}

.pbLabel {
  font-size: 14px;
  padding: 3px;
}

