// extracted by mini-css-extract-plugin
// module.exports = {"theClock":"theClock","shouldShow":"shouldShow","theTime":"theTime"};

.theClock {
  font-family: 'Bitcount Grid Single';
  display: none;
  position: absolute;
  top: 100px;
  width: 227px;
  height: 47px;
  left: 50%;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 0px;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 2px;
}
.theClock.shouldShow {
  display: block;
}
.theClock .theTime {
  font-size: 35px;
  padding: 3% ;
}