// extracted by mini-css-extract-plugin
// module.exports = {"theClock":"theClock","shouldShow":"shouldShow","theTime":"theTime"};

.theClock {
  display: none;
  position: absolute;
  top: 100px;
  width: 100px;
  left: 50%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 2px;
}
.theClock.shouldShow {
  display: block;
}
.theClock .theTime {
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.2);
  font-size: 28px;
  padding: 0 3px 3px;
}