// extracted by mini-css-extract-plugin
// module.exports = {"motec":"motec","shouldShow":"shouldShow","speed":"speed","rpm":"rpm","rpmBar":"rpmBar","gear":"gear","noElectronics":"noElectronics","engineMapBox":"engineMapBox","engineMapLabel":"engineMapLabel","engineMap":"engineMap","engineBrakeBox":"engineBrakeBox","engineBrakeLabel":"engineBrakeLabel","engineBrake":"engineBrake","tractionLevelBox":"tractionLevelBox","tractionLevelLabel":"tractionLevelLabel","tractionLevel":"tractionLevel","brakeBiasBox":"brakeBiasBox","brakeBiasLabel":"brakeBiasLabel","brakeBias":"brakeBias","showEM":"showEM","showTC":"showTC","plBBlink":"plBBlink","plBBlinker":"plBBlinker"};

.motecContainer {
  position: fixed;
  width: 227px;
  height: 107px;
  pointer-events: auto;
  color: #fff;
  font-weight: 700;
}

.motecContainer .motecTopRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100px;
}

.motecContainer .motecBox {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 90px;
  line-height: 1;
  background: rgba(0, 0, 0, 0.6);
}

.motecContainer .gearBox {
  color: white;
}
.motecContainer .gearBox.upshift {
  color: rgb(23, 236, 51);
}
.motecContainer .gearBox.redline {
  animation: gearRedlineBlink 0.35s linear infinite;
}
.motecContainer .gearBox.disabled {
  color: silver;
}

.motecContainer .speedBox {
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.motecContainer .speedBox .speedValue {
  font-size: 45px;
  font-weight: 700;
  line-height: 1;
}

.motecContainer .speedBox .speedUnit {
  margin-top: 2px;
  font-size: 22px;
  font-weight: 600;
  line-height: 1;
}

.motecContainer .motecTopRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.motecContainer.plBBlink {
  animation: plBBlinker 0.5s linear infinite;
}

.motecContainer .rpm {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: #000000c4;
}
.motecContainer .rpm .rpmBar {
  background: #fff;
  height: 7px;
}

.motecContainer .rpm .rpmBar.upshift {
  background: rgb(23, 236, 51);
}

.motecContainer .rpm .rpmBar.redline {
  animation: gearRedlineBlink  0.35s linear infinite;
}

.motecContainer .rpm .rpmBar.disabled {
  background: silver;
}

.truckGearWrapper {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
  left: -15px;
  top: -10px;
}

.truckGearSplit {
	position: absolute;	
	font-size: 0.45em;
  opacity: 0.20;
  filter: grayscale(100%);
	transition: opacity 0.15s ease, filter 0.15s ease, color 0.15s ease;
}

.truckGearSplit.active {
	opacity: 1;
	filter: none;
}

.truckGearSplit.high {
  right: -0.7em;
	top: 0.15em;
}

.truckGearSplit.low {
  right: -0.6em;
	bottom: 0.17em;
}

.truckGearRange {
	position: absolute;	
	font-size: 0.25em;
  opacity: 0.30;
  filter: grayscale(100%);
	transition: opacity 0.15s ease, filter 0.15s ease, color 0.15s ease;
}

.truckGearRange.active {
	opacity: 1;
	filter: none;
}

.truckGearRange.high {
  left: 2.2em;
	bottom: -0.6em;
  color: #29a849;
}

.truckGearRange.low {
  left: 0.4em;
	bottom: -0.6em;
  color: #fc5353;
}


@keyframes plBBlinker {
  0% {
    background: rgba(216, 49, 49, 0.8);
  }
  50% {
    background: rgba(50, 82, 224, 0.8);
  }
  100% {
    background: rgba(216, 49, 49, 0.8);
  }
}

@keyframes gearRedlineBlink {
  0% {
    color: #fe0000;
  }
  50% {
    color: white;    
    background: rgb(255, 0, 34);
  }
  100% {
    color: #fe0000;
  }
}
