// extracted by mini-css-extract-plugin
// module.exports = {"motec":"motec","shouldShow":"shouldShow","speed":"speed","rpm":"rpm","rpmBar":"rpmBar","gear":"gear","noElectronics":"noElectronics","engineMapBox":"engineMapBox","engineMapLabel":"engineMapLabel","engineMap":"engineMap","engineBrakeBox":"engineBrakeBox","engineBrakeLabel":"engineBrakeLabel","engineBrake":"engineBrake","tractionLevelBox":"tractionLevelBox","tractionLevelLabel":"tractionLevelLabel","tractionLevel":"tractionLevel","brakeBiasBox":"brakeBiasBox","brakeBiasLabel":"brakeBiasLabel","brakeBias":"brakeBias","showEM":"showEM","showTC":"showTC","plBBlink":"plBBlink","plBBlinker":"plBBlinker"};

.motec {
  position: absolute;
  bottom: 40px;
  right: 20px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.2);
  width: 85px;
  height: 100px;
  border-radius: 2px;
  transform-origin: bottom right;
}
.motec.shouldShow {
  display: block;
}
.motec .speed {
  position: absolute;
  font-size: 20px;
  bottom: 11px;
  left: 50%;
  text-transform: uppercase;
  transform: translate(-50%);
  opacity: 1;
}
.motec .rpm {
  position: absolute;
  bottom: 3px;
  left: 3px;
  right: 3px;
  background: #222;
  border-radius: 2px;
}
.motec .rpm .rpmBar {
  background: #fff;
  height: 5px;
  border-radius: 2px;
}
.motec .gear {
  font-size: 55px;
  font-family: EurasiaEx-Bold;
  font-weight: 600;
  position: absolute;
  vertical-align: center;
  text-align: center;
  left: 44%;
  transform: translate(-50%);
  top: 19px;
  line-height: 1;
}
.motec .gear.noElectronics {
  font-size: 76px;
  top: -1px;
}
.motec .engineMapBox {
  position: absolute;
  font-size: 9px;
  width: 42px;
  height: 12px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  border: 1px solid hsla(0, 0%, 100%, 0.8);
  top: 0;
  left: 0;
  opacity: 1;
}
.motec .engineMapLabel {
  left: 2px;
}
.motec .engineMap,
.motec .engineMapLabel {
  position: absolute;
  top: 1px;
  opacity: 1;
}
.motec .engineMap {
  left: 23px;
}
.motec .absBox {
  position: absolute;
  font-size: 9px;
  width: 42px;
  height: 12px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  border: 1px solid hsla(0, 0%, 100%, 0.8);
  top: 0;
  left: 0;
  opacity: 1;
}
.motec .absLabel {
  left: 2px;
}
.motec .abs,
.motec .absLabel {
  position: absolute;
  top: 1px;
  opacity: 1;
}
.motec .abs {
  left: 23px;
}
.motec .tractionLevelBox {
  position: absolute;
  font-size: 9px;
  width: 42px;
  height: 12px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  border: 1px solid hsla(0, 0%, 100%, 0.8);
  top: 0;
  left: 50%;
  opacity: 1;
}
.motec .tractionLevelLabel {
  position: absolute;
  top: 1px;
  left: 2px;
  opacity: 1;
}
.motec .tractionLevel {
  position: absolute;
  top: 1px;
  left: 18px;
  opacity: 1;
}
.motec .brakeBiasBox {
  position: absolute;
  font-size: 9px;
  width: 42px;
  height: 12px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  border: 1px solid hsla(0, 0%, 100%, 0.8);
  top: 0;
  left: 50%;
  opacity: 1;
}
.motec .brakeBiasLabel {
  left: 2px;
}
.motec .brakeBias,
.motec .brakeBiasLabel {
  position: absolute;
  top: 1px;
  opacity: 1;
}
.motec .brakeBias {
  left: 18px;
}
.motec.showEM .absBox,
.motec.showTC .brakeBiasBox {
  top: 12px;
}
.motec.plBBlink {
  animation: plBBlinker 0.5s linear infinite;
}
@keyframes plBBlinker {
  50% {
    background: #0000c8;
  }
  0% {
    background: #c80000;
  }
}