// extracted by mini-css-extract-plugin
// module.exports = {"motec":"motec","shouldShow":"shouldShow","speed":"speed","rpm":"rpm","rpmBar":"rpmBar","gear":"gear","noElectronics":"noElectronics","engineMapBox":"engineMapBox","engineMapLabel":"engineMapLabel","engineMap":"engineMap","engineBrakeBox":"engineBrakeBox","engineBrakeLabel":"engineBrakeLabel","engineBrake":"engineBrake","tractionLevelBox":"tractionLevelBox","tractionLevelLabel":"tractionLevelLabel","tractionLevel":"tractionLevel","brakeBiasBox":"brakeBiasBox","brakeBiasLabel":"brakeBiasLabel","brakeBias":"brakeBias","showEM":"showEM","showTC":"showTC","plBBlink":"plBBlink","plBBlinker":"plBBlinker"};

.motecContainer {
  position: fixed;
  width: 227px;
  height: 107px;
  pointer-events: auto;
  color: #fff;
  font-weight: 700;
}

.motecContainer .motecTopRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}

.motecContainer .motecBox {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 90px;
  line-height: 1;
  background: rgba(0, 0, 0, 0.6);
}

.motecContainer .gearBox {
  color: white;
}
.motecContainer .gearBox.upshift {
  color: rgb(23, 236, 51);
}
.motecContainer .gearBox.redline {
  animation: gearRedlineBlink 0.35s linear infinite;
}
.motecContainer .gearBox.disabled {
  color: silver;
}

.motecContainer .speedBox {
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.motecContainer .speedBox .speedValue {
  font-size: 45px;
  font-weight: 700;
  line-height: 1;
}

.motecContainer .speedBox .speedUnit {
  margin-top: 2px;
  font-size: 27px;
  font-weight: 600;
  line-height: 1;
}

.motecContainer .motecTopRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.motecContainer.plBBlink {
  animation: plBBlinker 0.5s linear infinite;
}

@keyframes plBBlinker {
  0% {
    background: rgba(216, 49, 49, 0.8);
  }
  50% {
    background: rgba(50, 82, 224, 0.8);
  }
  100% {
    background: rgba(216, 49, 49, 0.8);
  }
}

@keyframes gearRedlineBlink {
  0% {
    color: #fe0000;
  }
  50% {
    color: white;    
    background: rgb(255, 0, 34);
  }
  100% {
    color: #fe0000;
  }
}
