.fuelDetails {
  position: absolute;
  width: 612px;
  pointer-events: auto;
}

/* TABLE */
.fuelDetails .fuelTable {
  display: flex;
  flex-direction: column;
}

/* ROW */
.fuelDetails .fuelRow {
  display: grid;
  grid-template-columns: repeat(9, 68px);
  height: 27px;
  margin-bottom: 3px;
}

.fuelDetails .fuelRow:last-child {
  margin-bottom: 0;
}

/* CELLS */
.fuelDetails .cell {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
}

.fuelDetails .cell.label {
  background: rgba(0, 0, 0, 0.6);
  color: rgb(190, 190, 190);
}

.fuelDetails .cell.data {
  background: rgba(0, 0, 0, 0.8);
  font-size: 20px;
}

.fuelDetails .cell.empty {
  background: transparent;
}

/* COLSPANS */
.fuelDetails .span-1 { grid-column: span 1; }
.fuelDetails .span-2 { grid-column: span 2; }

/* CALCULATOR PLACEHOLDER */
.fuelDetails .fuelCalculatorPlaceholder {
  height: 120px;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estados de background de célula e font color*/
.cell.data.fueldetail-na {
  background: rgba(0, 0, 0, 0.8);
  color: #ffffff80;
}
.cell.data.fueldetail-need {
  background: #e41010da; 
}
.cell.data.fueldetail-ok {
  background: #30c749c7;
}
.fueldetailvalue-need{
  color: #e93e3e; 
}
.fueldetailvalue-ok{
  color: #4dfa47c7;
}
