.aids,
.spotting .blib {
  position: absolute;
  left: 50%;
}

.aids {
  top: 1030px;
}

.aids .inner {
  transform: translate(0);
  border-radius: 50px;
  padding: 5px;
  background: rgba(0, 0, 0, 0.5);
}

.aids .aid {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  fill: hsla(0, 0%, 100%, 0.3);
}

.aids .aid.state-5 svg {
  fill: #c41b1b;
}

.aids .svgIcon svg {
  height: 35px;
  width: 35px;
}
