// extracted by mini-css-extract-plugin
// module.exports = {"pitstop":"pitstop","pitInfoFixed":"pitInfoFixed","pitInfo":"pitInfo","inner":"inner","title":"title","left":"left","tasks":"tasks","task":"task","barContainer":"barContainer","bar":"bar","totalTime":"totalTime","pitMinInfoFixed":"pitMinInfoFixed","pitMinBarContainer":"pitMinBarContainer","minBar":"minBar","minPitTime":"minPitTime","pitMenuInfoBox":"pitMenuInfoBox","pitMenuInfoText":"pitMenuInfoText","blinkero":"blinkero"};

.pitstop:empty {
  content: "";
}
.pitInfoFixed {
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  transform: translate(-50%);
  //border-radius: 10px;
}
.pitInfo {
  position: absolute;
  width: 265px;
  background: transparent;
  right: 0.5%;
  overflow: hidden;
  white-space: pre;
  top: 13%;
  text-align: center;
}
.pitInfo .inner {
  background: rgba(0, 0, 0, 0.75);
  padding: 10px;
  //border-radius: 10px;
}
.pitInfo .title {
  font-size: 35px;
  padding: 0 0 5px;
}
.pitInfo .left {
  font-size: 23px;
  opacity: 0.75;
}
.pitInfoFixed {
  position: absolute;
  top: 310px;
  left: 50%;
  background: transparent;
  text-align: center;
}
.pitInfoFixed .inner {
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  transform: translate(-50%);
  //border-radius: 10px;
}
.pitInfoFixed .tasks {
  display: flex;
  height: 70px;
  margin-top: 20px;
}
.pitInfoFixed .tasks .task {
  flex: auto;
  margin: 10px 13px 10px 13px;
  border: 3px solid #fff;
  padding: 12px 0;
  //border-radius: 10px;
  vertical-align: center;
  overflow: hidden;
  white-space: pre;
  //text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.4), 0 0 10px rgba(0, 0, 0, 0.4);
}
.pitInfoFixed .title {
  font-size: 20px;
}
.pitInfoFixed .left {
  opacity: 0.5;
}
.pitInfoFixed .barContainer {
  background: rgb(0, 0, 0);
  display: inline-block;
  width: 700px;
  //border-radius: 5px;
  margin: 0px 14px 10px;
}
.pitInfoFixed .barContainer .bar {
  height: 4px;
  //border-radius: 5px;
  background: #fff;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.pitInfoFixed .totalTime {
  position: absolute;
  top: 100%;
  width: 100%;
  left: 50%;
  font-size: 30px;
  transform: translate(-50%, 10px);
  //text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.4);
}
.pitMinInfoFixed {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 50%;
  background: transparent;
  text-align: center;
}
.pitMinInfoFixed,
.pitMinInfoFixed .inner {
  padding: 10px;
  transform: translate(-50%);
  //border-radius: 10px;
}
.pitMinInfoFixed .inner {
  background: rgba(0, 0, 0, 0.5);
}
.pitMinInfoFixed .pitMinBarContainer {
  display: inline-block;
  width: 700px;
  background: hsla(0, 0%, 81%, 0.6);
  //border-radius: 5px;
  margin: 102px 13px 10px;
}
.pitMinInfoFixed .pitMinBarContainer .minBar {
  height: 34px;
  //border-radius: 5px;
  background: #fff;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.pitMinInfoFixed .minPitTime {
  position: absolute;
  top: 105px;
  left: 50%;
  width: 100%;
  font-size: 28px;
  transform: translate(-50%, 10px);
  //text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.8), 0 0 10px rgba(0, 0, 0, 0.8);
}
.pitMenuInfoBox {
  position: absolute;
  width: 25.3%;
  height: 36%;
  right: 0.5%;
  top: 29%;
  border: 1px solid #1a1a1a;
  background: hsla(0, 0%, 35%, 0.6)
}
.pitMenuInfoBox .pitMenuInfoText {
  position: relative;
  width: 100%;
  height: 100%;
  right: 0;
  white-space: wrap;
  font-weight: 500;
  color: #000000;
  font-style: normal;
  font-size: 50px;
  text-align: center;
  align-items: center;
  vertical-align: center;
  margin: 30% 0 0;
}
@keyframes blinkero {
  50% {
    border: 3px solid rgb(36, 104, 56);
    color: rgb(142, 255, 142)
  }
  0% {
    border: 3px solid #fff;
    color: #fff;
  }
}