// extracted by mini-css-extract-plugin
// module.exports = {"pitstop":"pitstop","pitInfoFixed":"pitInfoFixed","pitInfo":"pitInfo","inner":"inner","title":"title","left":"left","tasks":"tasks","task":"task","barContainer":"barContainer","bar":"bar","totalTime":"totalTime","pitMinInfoFixed":"pitMinInfoFixed","pitMinBarContainer":"pitMinBarContainer","minBar":"minBar","minPitTime":"minPitTime","pitMenuInfoBox":"pitMenuInfoBox","pitMenuInfoText":"pitMenuInfoText","blinkero":"blinkero"};

.pitstop:empty {
  content: "";
}
.pitInfoFixed {
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  transform: translate(-50%);
  border-radius: 10px;
}
.pitInfo {
  position: absolute;
  width: 265px;
  background: transparent;
  right: 0.5%;
  overflow: hidden;
  white-space: pre;
  top: 13%;
  text-align: center;
}
.pitInfo .inner {
  background: rgba(0, 0, 0, 0.75);
  padding: 10px;
  border-radius: 10px;
}
.pitInfo .title {
  font-size: 40px;
  padding: 0 0 5px;
}
.pitInfo .left {
  font-size: 28px;
  opacity: 0.75;
}
.pitInfoFixed {
  position: absolute;
  top: 310px;
  left: 50%;
  background: transparent;
  text-align: center;
}
.pitInfoFixed .inner {
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  transform: translate(-50%);
  border-radius: 10px;
}
.pitInfoFixed .tasks {
  display: flex;
  height: 70px;
}
.pitInfoFixed .tasks .task {
  flex: auto;
  margin: 10px;
  border: 2px solid #fff;
  padding: 10px 0;
  border-radius: 10px;
  vertical-align: center;
  overflow: hidden;
  white-space: pre;
  text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.4), 0 0 10px rgba(0, 0, 0, 0.4);
}
.pitInfoFixed .title {
  font-size: 20px;
  padding: 0 0 5px;
}
.pitInfoFixed .left {
  opacity: 0.5;
}
.pitInfoFixed .barContainer {
  background: #00f;
  display: inline-block;
  width: 700px;
  background: hsla(0, 0%, 100%, 0.2);
  border-radius: 5px;
  margin: 0 10px 10px;
}
.pitInfoFixed .barContainer .bar {
  height: 4px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.pitInfoFixed .totalTime {
  position: absolute;
  top: 100%;
  width: 100%;
  left: 50%;
  font-size: 30px;
  transform: translate(-50%, 10px);
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.4);
}
.pitMinInfoFixed {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 50%;
  background: transparent;
  text-align: center;
}
.pitMinInfoFixed,
.pitMinInfoFixed .inner {
  padding: 10px;
  transform: translate(-50%);
  border-radius: 10px;
}
.pitMinInfoFixed .inner {
  background: rgba(0, 0, 0, 0.5);
}
.pitMinInfoFixed .pitMinBarContainer {
  background: #00f;
  display: inline-block;
  width: 700px;
  background: hsla(0, 0%, 100%, 0.8);
  border-radius: 5px;
  margin: 90px 10px 10px;
}
.pitMinInfoFixed .pitMinBarContainer .minBar {
  height: 40px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.pitMinInfoFixed .minPitTime {
  position: absolute;
  top: 95px;
  left: 50%;
  width: 100%;
  font-size: 30px;
  transform: translate(-50%, 10px);
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.8), 0 0 10px rgba(0, 0, 0, 0.8);
}
.pitMenuInfoBox {
  position: absolute;
  width: 25.3%;
  height: 33%;
  right: 0.5%;
  top: 30.5%;
  border: 1px solid #fff;
  background: hsla(0, 0%, 100%, 0.75);
}
.pitMenuInfoBox .pitMenuInfoText {
  position: relative;
  width: 100%;
  height: 100%;
  right: 0;
  white-space: wrap;
  font-family: Segoe UI;
  font-weight: 700;
  color: #000;
  font-style: normal;
  font-size: 64px;
  text-align: center;
  align-items: center;
  vertical-align: center;
  margin: 20% 0 0;
}
@keyframes blinkero {
  50% {
    border: 2px solid green;
    color: green;
  }
  0% {
    border: 2px solid #fff;
    color: #fff;
  }
}