// extracted by mini-css-extract-plugin
// module.exports = {"fuel":"fuel","low":"low","barContainer":"barContainer","bar":"bar","svgIcon":"svgIcon","fuelPerLap":"fuelPerLap","fuelLeft":"fuelLeft"};

.fuelNew {
  position: fixed;
  width: 227px;
  height: 77px;
  background: rgba(0, 0, 0, 0.6);
  padding: 3px;
  color: white;
  pointer-events: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* EACH ROW */
.fuelRow {
  height: 20px;
  display: flex;
  margin-bottom: 3px;
}

.fuelRow:last-child {
  margin-bottom: 0;
}

/* BASE CELL */
.fuelCell {
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

/* CELL TYPES */
.fuelCell.icon {
  padding-top: 2px;
  width: 20px;
  justify-content: center;
}
.fuelCell.value {  
  padding-top: 2px;
  width: 60px;
}

/* LAST CELL — 49px */
.fuelCell.value:last-child {
  width: 49px;
}

/* SPACING BETWEEN CELLS */
.fuelCell:not(:last-child) {
  margin-right: 2.5px;
}

/* SVG */
.fuelCell.icon svg {
  width: 14px;
  height: 14px;
  fill: currentColor;
  stroke: currentColor;
}

/* Estado neutro */
.fuel-na {
  color: #ffffff;
  opacity: 0.7;
}

/* Precisa abastecer */
.fuel-need {
  color: #ff4d4d; /* vermelho */
}

/* Combustível OK */
.fuel-ok {
  color: #4cff4c; /* verde */
}
